<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="banner">
        <img src="/images/frutos-12.jpg" alt="Banner de ofertas">

    </section>
<main>
   
    <h1>Rincón de Todos Nuestros Productos</h1>
    <!-- -----------------------------------------Granolas--------------------------------------------- -->

    <div class="secciónX">
        <h3>Granolas Rincon Sano</h3>
        <div class="contenedorProductos">
           
            <% Productos.forEach(productos => { %>
                <% if (productos.id_categoria === 1){ %>
                    <div class="productoX">
                        <div class="productoImagen">
                            <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                        </div>
                        <div class="productoInformación">
                            <i class="fas fa-truck"></i>
                            <h4 class="nombreProducto"><%= productos.nombre%></h4>
                            <p class="price">Precio $<%= productos.precio%></p>
                            <p class="discount">Descuento <%= productos.descuento%>%</p>
                        </div>
                    </div>
                <% } %>
            <% }); %>  
        </div>       
    </div>
    <div class="secciónX">
        <h3>Orgánico</h3>
        <div class="contenedorProductos">
           
            <% Productos.forEach(productos => { %>
                <% if (productos.id_categoria === 2){ %>
                    <div class="productoX">
                        <div class="productoImagen">
                            <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                        </div>
                        <div class="productoInformación">
                            <i class="fas fa-truck"></i>
                            <h4 class="nombreProducto"><%= productos.nombre%></h4>
                            <p class="price">Precio $<%= productos.precio%></p>
                            <p class="discount">Descuento <%= productos.descuento%>%</p>
                        </div>
                    </div>
                <% } %>
            <% }); %>  
        </div>       
    </div>
    <div class="secciónX">
        <h3>Libre de Gluten</h3>
        <div class="contenedorProductos">
           
            <% Productos.forEach(productos => { %>
                <% if (productos.id_categoria === 3){ %>
                    <div class="productoX">
                        <div class="productoImagen">
                            <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                        </div>
                        <div class="productoInformación">
                            <i class="fas fa-truck"></i>
                            <h4 class="nombreProducto"><%= productos.nombre%></h4>
                            <p class="price">Precio $ <%= productos.precio%></p>
                            <p class="discount">Descuento <%= productos.descuento%>%</p>
                        </div>
                    </div>
                <% } %>
            <% }); %>  
        </div>       
    </div>
    <div class="secciónX">
        <h3>Cosmética Natural</h3>
        <div class="contenedorProductos">
           
            <% Productos.forEach(productos => { %>
                <% if (productos.id_categoria === 4){ %>
                    <div class="productoX">
                        <div class="productoImagen">
                            <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                        </div>
                        <div class="productoInformación">
                            <i class="fas fa-truck"></i>
                            <h4 class="nombreProducto"><%= productos.nombre%></h4>
                            <p class="price">Precio $<%= productos.precio%></p>
                            <p class="discount">Descuento <%= productos.descuento%>%</p>
                        </div>
                    </div>
                <% } %>
            <% }); %>  
        </div>       
    </div>


</main>>
<%- include('../partials/footer') %>

    
</body>
</html>