<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
            <main class="container">
                <!-- Left Column / Product Image -->
                <div class="left-column">
                    <img src="/images/<%=miProd.imagen%>" alt="">
                    
                </div>
                 
                 
                <!-- Right Column -->
                <div class="right-column">
                 
                    <!-- Product Description -->
                    <div class="product-description">
                      <span><%=miProd.nombre%></span>
                      <h1><%=miProd.nombre%></h1>
                      <p><%=miProd.descripcion%></p>
                    </div>

                    <!-- Product Pricing -->
                    <div class="product-price">
                        <span><%=miProd.precio%></span>
                    </div>
                    <div>
                        <label for="cantidad" class="labelCantidad" >Cantidad</label>
                        <input type="number" class="cantidad" name="cantidad" min="1" max="99">
                    </div>
                    <div>
                        <a href="/product/Cart" class="cart-botton">Agregar al carrito</a>
                    </div>
                </div>
            </main>                 
    <%- include('../partials/footer') %>
</body>
</html>