<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container">
        <!-- Left Column / Product Image -->
        <div class="left-column">
            <img id="imgProd" src="/images/<%=producto.imagen%>" alt="<%=producto.imagen%>">
            
        </div>
         
         
        <!-- Right Column -->
        <div class="right-column">
         
            <!-- Product Description -->
            <div class="product-description">
             <h2 id="idProd" class="product-detail-title"><%= producto.id %></h2> 
              <span><%=producto.categoria.nombre%></span>
              <h1 id="nameProd"><%=producto.nombre%></h1>
              <p id="descProd"><%=producto.descripcion%></p>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
                <span>$ <%=producto.precio%></span>
            </div>
            <br>
            <br>
            <div>
                <button class="cart-botton">Agregar al carrito</button>
            </div>
        </div>
    </main>         
    <%- include('../partials/footer') %>
</body>
</html>