<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="banner">
        <img src="/images/frutos-12.jpg" alt="Banner de ofertas">

    </section>
<main>
   
    <h1>Rincón de Todos Nuestros Productos</h1>
    <!-- -----------------------------------------Granolas--------------------------------------------- -->

    <div class="secciónX">
        <h3>Granolas Rincon Sano</h3>
        <div class="contenedorProductos">
           
            <% productos.forEach(productos => { %>

                <div class="productoX">
                    <div class="productoImagen">
                        <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                    </div>
                    <div class="productoInformación">
                        <i class="fas fa-truck"></i>
                        <p class="price"><%= productos.precio%></p>
                        <p class="discount"><%= productos.descuento%></p>
                        <h4 class="nombreProducto"><%= productos.nombre%></h4>
                    </div>
                </div>
            <% }); %>     
    </div>
</main>>
<%- include('../partials/footer') %>

    
</body>
</html>