<html>
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body class="main-body">
    <section class="banner">
        <img src="/images/frutos-12.jpg" alt="Banner de ofertas" class="homeBanner">

    </section>
<main>
   
    <h1>Rinc贸n de los Productos Destacados</h1>
    <!-- -----------------------------------------Mas vendidos--------------------------------------------- -->

    <div class="secci贸nX">
        <h3></h3>
        <div class="contenedorProductos">
            
            <% Productos.forEach(productos => { %>

                <div class="productoX">
                    <div class="productoImagen">
                        <a href="/product/Detail/<%= productos.id%>"><img src="/images/<%= productos.imagen %>" alt="Granola" class="productImg"></a>
                    </div>
                    <div class="productoInformaci贸n">
                        <i class="fas fa-truck"></i>
                        <h2 class="nombreProducto"><%= productos.nombre%></h2>
                        <p class="price"> $<%= productos.precio%></p>
                        <p class="discount"> <%= productos.descuento%>%</p>
                    </div>
                </div>
            <% }); %>
        </div>    
    </div>

    <!-- ---------------------------------Producci贸n de Rincon Sano ----------------------------------->
    <script src="/js/js-front.js"></script> 
</main>>
<%- include('../partials/footer') %>

    
</body>
</html>
