<html>
    <%- include('../partials/head') %>  
    <body>
        <%- include('../partials/header') %>
        <main class="admin-form">
            <h1>Administrador de Productos</h1>
                <br>
                <section>
                    <article class="addBlock">
                        <a class="agregarText" href="/administrar/create"><ion-icon class="addButton" name="add-circle-outline"></ion-icon>Agregar</a>
                    </article>
                    <article class="#" >
                        <table class="tablaAdmin">
                            <thead>
                                <tr>
                                    <th class="idColumn">id</th>
                                    <th class="nombreColumn">Nombre</th>
                                    <th class="verColumn">Ver</th>
                                    <th class="editarColumn">Editar</th> 
                                    <th class="borrarColumn">Borrar</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <% Productos.forEach(productos => { %>
                            <tr>
                                    <td class="tdNumero"><%= productos.idProducto%> </td>
                                    <td class="tdNombre"><%= productos.Nombre%> </td>
                                    <td class="tdVer"><a href="/administrar/detail/<%= productos.idProducto%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                                    <td class="tdEditar"><a href="/administrar/edit/<%= productos.idProducto%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                                    <td class="tdBorrar"><a href="/administrar/delete/<%= productos.idProducto%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                        
                    </article>       
                </section>
                    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>                
        </main>
                <%- include('../partials/footer') %>
            
            </body>
</html>