<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <h1>Administrador de Productos</h2>
                    <br>
                    <section    >
                        <article class="col-12">
                        <a href="/administrar/create"><ion-icon name="add-circle-outline"></ion-icon>Agregar</a>
                        </article>
                        <article class="col-12" >
                        <table class=" table">
                            <thead class="table-primary">
                            <tr>  
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Ver</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Borrar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% productos.forEach(productos => { %>
                            <tr>
                                <td><%= productos.id%> </td>
                                <td><%= productos.nombre%> </td>
                                <td><a href="/administrar/detail/<%= productos.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                                <td><a href="/administrar/edit/<%= productos.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                                <td><a href="/administrar/delete/<%= productos.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table> 
                        </article>       
                    </section>
                    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>                
                </main>
            
    <%- include('../partials/footer') %>
        </body>
</html>