<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <h1>Creación de productos - Administrador</h1>
                    <form action="/administrar/create" method="POST" enctype="multipart/form-data">
                        <div>
                            <label>Producto</label>
                            <input type="text" name="nombre" class="product">
                        </div>
                        <div>
                            <label>Descripción</label>
                            <input type="text" name="descripcion" class="descripcion">
                        </div>
                        <br>
                        <div>
                            <label>Imagen</label>
                            <input type="file" name="imagen" class="imagen">
                        </div>
                        <br>
                        <div>
                            <label>Categorías</label>
                        <select name="categoria">
                            <option value="" disabled selected>Selecciona tu categoria</option>
                            <% Categoria.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                        </div>
                        <br>
                        <div>
                            <label>Precio</label>
                            <input type="text" name="precio" class="precio">
                        </div>
                        <br>
                        <div>
                            <label>Descuento</label>
                            <input type="text" name="descuento" class="descuento">
                        </div>
                        <br>
                        <div>
                            <button type="reset" class="boton-formulario">Borrar</button>
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="boton-formulario">Guardar</button>
                        </div>
                        <br>
                        <br>
                        <a href="/administrar" class="btn btn-danger">Volver</a>
                        <br>
                        <br>
                        
                    </form>
                </main>
            
    <%- include('../partials/footer') %>
        </body>
</html>