<html>
    <%- include('../partials/head') %>  
        <body id="bodyAdminCreate">
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <h1>Creación de productos - Administrador</h1>
                    <div class = "errores-admin"></div>
                    <form action="/administrar/create" id="formcrear" method="POST" enctype="multipart/form-data">
                        <div>
                            <label>Producto</label>
                            <input 
                            type="text" 
                            name="nombre" 
                            class="product <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.nombre : null%>" 
                            id="product-crear">
                            <% if (locals.errors && errors.nombre) { %>
                                <div style= "color: red">
                                    <%= errors.nombre.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <label>Descripción</label>
                            <input 
                            type="text" 
                            name="descripcion" 
                            class="descripcion <%= locals.errors && errors.descripcion ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.descripcion : null%>" 
                            id="desc-crear">
                            <% if (locals.errors && errors.descripcion) { %>
                                <div style= "color: red">
                                    <%= errors.descripcion.msg %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div>
                            <label>Imagen</label>
                            <input 
                            type="file" 
                            name="imagen" 
                            class="imagen" 
                            id="img-crear">
                            <% if (locals.errors && errors.imagen) { %>
                                <div style= "color: red">
                                    <%= errors.imagen.msg %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div>
                            <label>Categorías</label>
                        <select id="cat-crear" name="categoria">
                            <option  value="" disabled selected>Selecciona tu categoria</option>
                            <% Categoria.forEach(categoria => { %>
                                <option  value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                        <% if (locals.errors && errors.categoria) { %>
                            <div style= "color: red">
                                <%= errors.categoria.msg %>
                            </div>
                        <% } %>
                        </div>
                        <br>
                        <div>
                            <label>Precio</label>
                            <input 
                            id="precio-crear" 
                            type="number" 
                            name="precio" 
                            class="precio <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.precio : null%>">
                            <% if (locals.errors && errors.precio) { %>
                                <div style= "color: red">
                                    <%= errors.precio.msg %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div>
                            <label>Descuento</label>
                            <input 
                            id="descuento-crear" 
                            type="number" 
                            name="descuento" 
                            class="descuento <%= locals.errors && errors.descuento ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.descuento : null%>">
                            <% if (locals.errors && errors.descuento) { %>
                                <div style= "color: red">
                                    <%= errors.descuento.msg %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div>
                            <button type="reset" class="boton-formulario">Borrar</button>
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="boton-formulario">Guardar</button>
                        </div>
                        <br>
                        <br>
                        <a href="/administrar" class="btn btn-danger">Volver</a>
                        <br>
                        <br>
                        
                    </form>
                </main>
    <script src="/js/adminCrear.js"></script>        
    <%- include('../partials/footer') %>
        </body>
</html>