<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <!--Producto-->
                    <br>
                    <br>
                    <h1>Detalle del producto administrado</h1>
                            <article class="col-12 col-md-6 mx-auto mt-5 producto">
                                <figure class="imagenProducto">
                                <img  src="/images/<%= Productos.Imagen%>" class="card-img-top w-100 d-block" alt="prod">
                                </figure> 
                                <br>
                                <label>Nombre:</label>
                                <h5 class="card-title"><%= Productos.Nombre%></h5>
                                <br>
                                <label>Descuento:</label>
                                <h5 class="card-title">Descuento de <%= Productos.Descuento%>%</h5>
                                <br>
                                <label>Precio:</label>
                                <h5 class="card-title">$ <%= Productos.Precio %></h5>
                                <br>
                                <label>Descripción:</label>
                                <h5 class="card-title"><%= Productos.Descripcion %></h5>
                                <br>
                                <label>Categoria:</label>
                                <h5 class="card-title"><%= Categoria.NombreCategoria %></h5>
                                <br>
                                <a href="/administrar" class="btn btn-danger">Volver</a>
                                <br>
                                <br>
                            </article>
                    </section>
                
                </main>
            
    <%- include('../partials/footer') %>
        </body>
</html>