<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <br>
                    <br>
                        <form action="/administrar/edit/<%= Productos.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
                            <div class="control-formulario">
                                <label>Nombre del producto:</label>
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required" value="<%= Productos.nombre%>">
                            </div>	
                            <div class="control-formulario">
                                <label>Descripción:</label>
                                <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required="required" value="<%= Productos.descripcion%>">
                            </div>                            
                            <div>
                            <label>Categorías</label><br>
                                <select name="categoria">
                                    <option value="" disabled selected>Selecciona tu categoria</option>
                                    <% Categoria.forEach(categoria => { %>
                                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <br>                        
                            <div class="control-formulario">
                                <label>Precio:</label>
                                <input type="number" class="form-control" name="precio" placeholder="Indique el precio" required="required" value="<%= Productos.precio%>">
                            </div>
                            <div class="control-formulario">
                                <label>Descuento:</label>
                                <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                <option disabled value="#">Seleccione un descuento"</option>
                                <option value="0" <%= Productos.descuento == 0 ? "selected" : null %>
                                    >Sin descuento</option>
                                <option value="15" <%= Productos.descuento == 15 ? "selected" : null %>>15%</option>
                                <option value="30" <%= Productos.descuento == 30 ? "selected" : null %>>30%</option>
                                </select>
                            </div>
                            <div class="control-formulario">
                                <figure class="form-group">
                                    <img  class="edit-img" src="/images/<%= Productos.imagen%>" alt="<%= Productos.nombre%>">
                                </figure>
                                <br>
                                <label>Modificar imagen:</label>
                                <input type="hidden"  name="oldImagen"  value="<%= Productos.imagen%>">
                                <input type="file" name="imagen" >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-info">Actualizar</button>
                                <br>
                                <br>
                                <a href="/administrar" class="btn btn-danger">Volver</a>
                                <br>
                                <br>
                            </div>
                            
                        </form>                
                </main>
            
    <%- include('../partials/footer') %>
        </body>
</html>