<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <div class = "errores-admin"></div>
                    <br>
                    <br>
                        <form action="/administrar/edit/<%= Productos.id%>?_method=PUT" id="formeditar" method="POST" enctype="multipart/form-data" >
                            <div class="control-formulario">
                                <label>Nombre del producto:</label>
                                <input 
                                type="text" 
                                id="product-editar" 
                                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
                                name="nombre" 
                                placeholder="Nombre" 
                                value="<%= Productos.nombre%>">
                                <% if (locals.errors && errors.nombre) { %>
                                    <div style= "color: red">
                                        <%= errors.nombre.msg %>
                                    </div>
                                <% } %>
                            </div>	
                            <div class="control-formulario">
                                <label>Descripción:</label>
                                <input 
                                type="text" 
                                id="desc-editar" 
                                class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid' : null %>" 
                                name="descripcion" 
                                placeholder="Descripción" 
                                value="<%= Productos.descripcion%>">
                                <% if (locals.errors && errors.descripcion) { %>
                                    <div style= "color: red">
                                        <%= errors.descripcion.msg %>
                                    </div>
                                <% } %>
                            </div>                            
                            <div>
                            <label>Categorías</label><br>
                                <select id="cat-editar" name="categoria">                                      
                                    <% Categoria.forEach(categoria => { %>
                                    <%if(Productos.id_categoria == categoria.id){%>
                                    <option value="<%= categoria.id %>"selected><%= categoria.nombre %></option>
                                    <%} else {%>
                                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                                    <% }}); %>
                                </select>
                                <% if (locals.errors && errors.categoria) { %>
                                    <div style= "color: red">
                                        <%= errors.categoria.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <br>                        
                            <div class="control-formulario">
                                <label>Precio:</label>
                                <input 
                                id="precio-editar" 
                                type="number" 
                                class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>" 
                                name="precio" 
                                placeholder="Indique el precio" 
                                value="<%= Productos.precio%>">
                                <% if (locals.errors && errors.precio) { %>
                                    <div style= "color: red">
                                        <%= errors.precio.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Descuento</label>
                                <input 
                                id="descuento-editar" 
                                type="number" 
                                name="descuento" 
                                class="descuento <%= locals.errors && errors.descuento ? 'is-invalid' : null %>"
                                value="<%= Productos.descuento%>">
                                <% if (locals.errors && errors.descuento) { %>
                                    <div style= "color: red">
                                        <%= errors.descuento.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="control-formulario">
                                <figure class="form-group">
                                    <img  class="edit-img" src="/images/<%= Productos.imagen%>" alt="<%= Productos.nombre%>">
                                </figure>
                                <br>
                                <label>Modificar imagen:</label>
                                <input  type="hidden"  name="oldImagen"  value="<%= Productos.imagen%>">
                                <input id="img-editar" type="file" name="imagen" >
                                <% if (locals.errors && errors.imagen) { %>
                                    <div style= "color: red">
                                        <%= errors.imagen.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="cart-botton">Actualizar</button>
                                <br>
                                <br>
                                <a href="/administrar" class="cart-botton">Volver</a>
                                <br>
                                <br>
                            </div>
                            
                        </form>                
                </main>
    <script src="/js/adminEditar.js"></script>    
    <%- include('../partials/footer') %>
        </body>
</html>