<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main class="admin-form">
                    <div class = "errores-admin"></div>
                    <br>
                    <br>
                        <form action="/user/editUser/<%= Usuarios.id%>?_method=PUT" id="formeditar" method="POST" enctype="multipart/form-data" >
                            <div class="control-formulario">
                                <label>Nombre y Apellido:</label>
                                <input 
                                type="text" 
                                id=""
                                class="form-control" 
                                name="nombre" 
                                placeholder="Nombre" 
                                value="<%= Usuarios.nombre%>">
                            </div>	
                            <div class="control-formulario">
                                <label>Nombre de Usuario:</label>
                                <input 
                                type="text" 
                                id="" 
                                class="form-control" 
                                name="user" 
                                placeholder="User" 
                                value="<%= Usuarios.user %>">
                            </div>                            
                            <br>                        
                            <div class="control-formulario">
                                <label>Domicilio:</label>
                                <input 
                                id="" 
                                type="text" 
                                class="form-control" 
                                name="domicilio"                                 
                                value="<%= Usuarios.domicilio %>">                                
                            </div>                
                            <div class="control-formulario">
                                <figure class="form-group">
                                    <img  class="edit-img" src="/images/avatar/<%=locals.userLogged.avatar%>" alt="<%= Usuarios.nombre%>">
                                </figure>
                                <br>
                                <label>Modificar imagen:</label>
                                <input  type="hidden"  name="oldImagen"  value="<%= Usuarios.avatar%>">
                                <input id="img-editar" type="file" name="avatar" >                            
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-info">Actualizar</button>
                                <br>
                                <br>
                                <a href="/user/profile" class="btn btn-danger">Volver</a>
                                <br>
                                <br>
                            </div>
                            
                        </form>                
                </main>
    <script src="/js/adminEditar.js"></script>    
    <%- include('../partials/footer') %>
        </body>
</html>