<html>
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
	
	
<div class="card">
	<img src="/images/avatar/<%=locals.userLogged.avatar%>" alt="Chocolate 80%" class="imagenPerfil">
	<h1><%= Usuarios.nombre%></h1>
	
	<p class="cardText">Nombre y Apellido: <%= Usuarios.nombre %></p>
	<p class="cardText">Nombre de Usuario: <%= Usuarios.user %></p>
	<p class="cardText">Domicilio: <%= Usuarios.domicilio %></p>
	
	<!-- <p class="cardText">Perfil de Usuario: <%=locals.userLogged.user %></p>
	<p class="cardText">Descrpcion: <%=locals.userLogged.descripcion %></p>
	<p class="cardText">E-mail: <%=locals.userLogged.email %></p>
	<p class="cardText">Domicilio: <%=locals.userLogged.domicilio %></p> -->
	
	
	
	<a href="/user/editUser/<%=locals.userLogged.id %>"><p class="cardText"><button>Editar mi perfil</button></p></a>
  </div>






	<!-- <div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>PERFIL DE USUARIO</h2>
				<img src="">
				<br>
				<br>
				<div class="alert alert-success"></div>
			</div>
		</div>
	</div> -->
	<!-- //Container -->
	
	<%- include('../partials/footer') %>
</body>
</html>